/*
    Document   : VideoScene
*/

.root{
    -fx-font-size: 16pt;
    -fx-font-family: "Helvetica Neue";
/*    -fx-base: rgb(244, 171, 41); */
    -fx-background: rgb(247, 248, 250);
}

.flow_pane{
    -fx-background-color: rgb(244, 171, 41);
    -fx-min-height: 40;
    -fx-min-width: 100;
    -fx-max-width: 250;
    -fx-background-radius: 20;
}
